<div class="journal-main">
  <img class="journal-pro-image" src="{{user.photoUrl}}" alt="">
  <h5 class="journal-head">{{userFullName}}'s Journal</h5>
</div>
<div class="center-align">
  <a href="/users/{{userId}}/journals/new">Add a new journal</a>
</div>
<div class="row">
  {{#each journals}}
  <div class="col s12 m3">
  <figure class="imghvr-fade">
  <img src="{{this.journalPicture}}">
  <figcaption class="black valign-wrapper">
    <span class="imghover">{{this.name}}</span>
  </figcaption>
  <a href="/users/{{../userId}}/journals/{{this._id}}"></a>
</figure>
  </div>
  {{/each}}
</div>