<div class="main">
  <div class="sign-up">
    <h2 class="h2-post">Edit User Profile</h2>
    <form action="/users/{{user._id}}?_method=PUT" method="POST">
      <div class="input-field">
        <label for="username">Username</label>
        <input class="new-input-form" type="text" name="username" class="validate" value="{{user.username}}" required/>
      </div>

      <div class="input-field">
        <label class="text-white" for="email">Email</label>
        <input class="new-input-form" type="text" name="email" class="validate" value="{{user.email}}"required/>
      </div>

      <div class="input-field">
        <label for="firstName">First Name</label>
        <input class="new-input-form" type="text" name="firstName" class="validate" value="{{user.firstName}}"required/>
      </div>

      <div class="input-field">
        <label for="lastName">Last Name</label>
        <input class="new-input-form" type="text" name="lastName" class="validate" value="{{user.lastName}}"required/>
      </div>

      <div class="input-field">
        <label for="photoUrl">Photo Url</label>
        <input class="new-input-form" type="text" name="photoUrl" class="validate" value="{{user.photoUrl}}" />
      </div>
      <div>
        <div class="input-field">
          <label for="description">User Biography</label>
          <textarea class="validate white-text" rows="4" cols="50" name="description"></textarea>
        </div>
        <input class="waves-effect waves-light indigo darken-4" type="submit" value="Edit User">
        <a href="/users" class="cancel-button">Cancel</a>
      </div>
    </form>
  </div>
</div>