<div class="main">
  <div class="row">
    {{#each users}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="pro-pics" src="{{this.photoUrl}}" alt="{{this.username}}'s profile photo">
          <span class="card-title">{{this.firstName}} {{this.lastName}}</span>
        </div>
        <div class="card-action">
          <a href="/users/{{this._id}}">More Info</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>