<div class="center-align">
  <div class="row">
    <div class="show-top-margin">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{user.photoUrl}}" alt="{{user.username}}'s profile photo">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div>Username:
                <strong>{{user.username}}</strong>
              </div>
              <div>Name:
                <strong>{{user.firstName}} {{user.lastName}}</strong>
              </div>
              <div>Email:
                <strong>{{user.email}}</strong>
              </div>
              <div>
                <a href="/users/{{user._id}}/edit">Update User Info</a>
                <form action="/users/{{user._id}}/delete?_method=DELETE" method="POST">
                  <input class="waves-effect waves-light red darken-4" type="submit" value="DELETE User">
                </form>
              </div>
            </div>
            <div class="card-action">
              <a href="/users/{{user._id}}/journals">View Journals</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- ENDS HERE --}}
  </div>
  {{!-- DESCRIPTION GOES HERE --}}
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h5>Biography</h5>
      <div class="card-panel white">
        <span class="black-text"> {{user.description}}
        </span>
      </div>
    </div>
  </div>
</div>