<div class="post-wrapper">
  <div class="post-main">
    <div>
      <div class="post-title">
        <p class="first-post-p">{{post.name}}</p>
      </div>
      <div class="post-description">
        <h5>{{post.postDescription}}</h5>
      </div>
      <img class="image-post" src="{{post.image}}" alt="">
      <div>
        <p class="author">By: {{user.firstName}} {{user.lastName}}</p>
        <a class="delete-post" href="/users/{{userId}}/journals/{{journal._id}}/posts/{{post._id}}/delete">Delete Post</a>
      </div>
      <div> 
        <p class="editable post-body-paragraphs">{{{post.body}}}</p>
      </div>
    </div>
  </div>
</div>