<div class="post-container">
  <div class="post-main">
    <div>
      <img class="image-post" src="{{post.image}}" alt="">
      <div class="post-title">
        <h5>{{post.name}}</h5>
      </div>
      <div class="post-description">
        {{post.postDescription}}
      </div>
      <div> {{post.body}}</div>
      <a class="button warning" href="/users/{{userId}}/journals/{{journal._id}}/posts/{{post._id}}/delete">Delete</a>
    </div>
  </div>
</div>